body {
    background-color: #323232;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}  

.button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    transition: 1s;
}

.button:hover {
    background-color: #3c8c40;
    transition: 1s;
}

img {
    width: 450px;
    padding-bottom: 25px;
}

.space {
    height: 1000px;
}

.text {
    padding-top: 900px;
}